
Temp/UnityLockfile
Library/ArtifactDB
Library/ArtifactDB-lock
Library/Search/transactions.db
Library/ShaderCache.db
Library/SourceAssetDB
Library/SourceAssetDB-lock
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe10.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe11.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Logs/shadercompiler-UnityShaderCompiler.exe8.log
Logs/shadercompiler-UnityShaderCompiler.exe9.log
Temp/FSTimeGet-3ac5aecc7ae90754baaaeadf9616d458
Temp/FSTimeGet-b92ca239631b19c4abaf5752592789d6
Temp/FSTimeGet-e3658d9898fdde34592c3ab0088c2f77
